<a href="https://colab.research.google.com/github/MarcinJanCiesielski/data_science_bootcamp/blob/main/01_Wprowadzenie/01_pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
pd.__version__

'1.3.5'

In [2]:
s = pd.Series(data=[3, 2, 4, 6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [4]:
s = pd.Series(data=[3, 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [5]:
s = pd.Series(data=[3., 2, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [7]:
import numpy as np
np.__version__

'1.21.6'

In [10]:
np.nan  # brak danych, gdybyśmy wstawili 0 to to wpłynęło by na obliczenia, a nan zostanie pominięte

nan

In [9]:
s = pd.Series(data=[3., np.nan, 4, 6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    NaN
c    4.0
d    6.0
Name: sample, dtype: float64

In [14]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [31]:
s = pd.Series(data=np.arange(10, 20), index=pd.date_range(start='20230101', periods=10))
s

2023-01-01    10
2023-01-02    11
2023-01-03    12
2023-01-04    13
2023-01-05    14
2023-01-06    15
2023-01-07    16
2023-01-08    17
2023-01-09    18
2023-01-10    19
Freq: D, dtype: int64

In [26]:
list(s.index)

[Timestamp('2023-01-01 00:00:00', freq='D'),
 Timestamp('2023-01-02 00:00:00', freq='D'),
 Timestamp('2023-01-03 00:00:00', freq='D'),
 Timestamp('2023-01-04 00:00:00', freq='D'),
 Timestamp('2023-01-05 00:00:00', freq='D'),
 Timestamp('2023-01-06 00:00:00', freq='D'),
 Timestamp('2023-01-07 00:00:00', freq='D'),
 Timestamp('2023-01-08 00:00:00', freq='D'),
 Timestamp('2023-01-09 00:00:00', freq='D'),
 Timestamp('2023-01-10 00:00:00', freq='D')]

In [32]:
s.dtype

dtype('int64')

In [28]:
s = pd.Series(data=['Python', 'Java', 'SQL'])
s

0    Python
1      Java
2       SQL
dtype: object

In [22]:
type(s)

pandas.core.series.Series

In [23]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [29]:
s.values

array(['Python', 'Java', 'SQL'], dtype=object)

In [30]:
s.dtype

dtype('O')

In [33]:
s.shape

(10,)

In [47]:
price = pd.Series(data={'Apple': 200, 'CD Project': 60, 'Amazon': 1900, 'KGHM': np.nan})
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [38]:
price['CD Project']

60

In [40]:
price[1]

60

In [49]:
price.count()

3

In [50]:
price.value_counts(dropna=False)  # pokazuje rozkład danyc

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [43]:
price.sum()

2160

In [44]:
price.max()

1900

In [45]:
price.std()

1024.3046421841502

In [51]:
price.describe()  # podaje różne statystyki danych

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [52]:
price.nlargest(2)  # Wybiera n największych wartości

Amazon    1900.0
Apple      200.0
dtype: float64

In [53]:
price.nsmallest(2)

CD Project     60.0
Apple         200.0
dtype: float64

In [54]:
price.rank()  # Wyświetli dane od najmniejszych

Apple         2.0
CD Project    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [56]:
price.sort_values()  # zmiania porządzek sortowania indeksu

CD Project      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [58]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Project      60.0
KGHM             NaN
dtype: float64

In [60]:
price_pln = price.apply(lambda x: x*3.8)  # stosuje funkcję na danych z serii, ale nie zmienia ich

Apple          760.0
CD Project     228.0
Amazon        7220.0
KGHM             NaN
dtype: float64

In [61]:
price

Apple          200.0
CD Project      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

# Podstawowe struktury danych pd.DataFrame

In [63]:
df = pd.DataFrame(data=[12,12, 32])
df

    0
0  12
1  12
2  32

In [64]:
df = pd.DataFrame(data=[12,12, 32], index=['first', 'second','third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [65]:
df = pd.DataFrame(data={'WIG20': ['PKN ORLEN', 'PKO BP'],
                        'mWIG40': ['Amica', 'Playway']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  Playway

In [66]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [67]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [68]:
df.index

Index(['first', 'second'], dtype='object')

In [69]:
df.values

array([[10, 12, 13],
       [23, 12, 10]])

In [70]:
type(df.values)

numpy.ndarray

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [72]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [73]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

# Selekcja kolumn

In [74]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [75]:
df['col_1']  # zwraca serię

first     10
second    23
Name: col_1, dtype: int64

In [76]:
type(df['col_1'])

pandas.core.series.Series

In [77]:
df[['col_1']]  # zwraca DateFrame

        col_1
first      10
second     23

In [79]:
df.columns = ['a', 'b', 'c']
df

         a   b   c
first   10  12  13
second  23  12  10

In [80]:
df.b

first     12
second    12
Name: b, dtype: int64

In [83]:
df['d'] = df.a + df.c  # tworzy nową kolumnę jako sumę wartości z kolumn a i c
df

         a   b   c   d
first   10  12  13  23
second  23  12  10  33

In [84]:
df = pd.DataFrame(data=[[10, 12, 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [86]:
df.loc['first']  # wytnie i wyświetli 1 wiersz o nazwie

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [88]:
df.iloc[0]  # to samo co powyżej tylko po indeksie

col_1    10
col_2    12
col_3    13
Name: first, dtype: int64

In [89]:
df.loc['first', 'col_2']  # podaje dane na przecięciu wiersza 'first' i columeny 'col_2'

12

In [91]:
df.loc[:, 'col_2']  # wycinamy kolumnę 2

first     12
second    12
Name: col_2, dtype: int64

In [93]:
df.iloc[0, 1]  # # podaje dane na przecięciu 0 wiersza i 1 columeny

12